<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    <style>
        .contain {
            max-width: 800px;
            background: #ffffff;
            padding: 30px 40px;
            margin: 60px auto;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        }
        .order{
            text-align: center;
        }
    </style>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (orders.length <=0) { %>
                    <h1 class="nothing">Nothing there!</h1>
                    <% } else { %>
                        <h1 class="order">My Orders</h1>
                        <div class="contain">
                            <ul class="orders">
                                <% orders.forEach(order=> { %>
                                    <li class="orders__item">
                                        <h1>Order - # <%= order._id %>
                                        </h1>
                                        <ul class="orders__products">
                                            <% order.products.forEach(p=> { %>
                                                <li class="orders__products-item">
                                                    <%= p.product.title %> (<%= p.quantity %>)
                                                </li>
                                                <% }); %>
                                        </ul>
                                    </li>
                                    <% }); %>
                            </ul>
                        </div>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>